<div id="menu">
    <h2>Menu</h2>

    {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_ADMIN') %}
        <p>Vous êtes client, vous pouvez :</p>
        <ul>
            <li><a href="{{ path('app_logout') }}">vous déconnecter</a></li>
            <li>gérer votre profil</li>
            <li><a href="{{ path('accueil_index') }}">aller à la page d’accueil</a></li>
            <li>lister les produits</li>
            <li>gérer le panier</li>
        </ul>
            {% if is_granted('ROLE_ADMIN') %}
                <p>---</p> {# Séparateur pour plus de clarté #}
                <p>Vous êtes aussi administrateur, vous pouvez :</p>
                <ul>
                <li>gérer les clients</li>
                <li>créer un produit</li>
                <li><a href="https://fr.wikipedia.org/wiki/Pong" target="_blank" rel="noopener noreferrer">lien vers un site extérieur</a></li>
            {% endif %}
        </ul>
    {% elseif is_granted('ROLE_SUPER_ADMIN') %}
        <ul>
            <li>Vous êtes super administrateur, vous pouvez :</li>
            <li><a href="{{ path('accueil_index') }}">aller à la page d’accueil</a></li>
            <li>gérer votre profil</li>
            <li><a href="{{ path('app_logout') }}">vous déconnecter</a></li>
            <li>Créer un super administrateur</li>
        </ul>
    {% else %}
        <ul>
            <li>Vous êtes non authentifié, vous pouvez :</li>
            <li><a href="{{ path('accueil_index') }}">aller à la page d’accueil</a></li>
            <li><a href="{{ path('app_login') }}">vous connecter</a></li>
            <li><a href="{{ path('form_edit_client') }}">Créer un compte</a></li>
        </ul>
    {% endif %}

    {# Afficher le panier pour les utilisateurs connectés, sauf ROLE_ADMIN #}
    {% if is_granted('ROLE_USER') and articleCount > 0 %}
        <ul>
            <li><a href="{{ path('panier') }}">Panier ({{ articleCount }} articles)</a></li>
        </ul>
    {% endif %}
</div>
