<div id="menu">
    <h2>Menu</h2>

    {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_ADMIN') %}
        <p>Vous êtes client, vous pouvez :</p>
        <ul>
            <li><a href="{{ path('logout') }}">vous déconnecter</a></li>
            <li><a href="{{ path('form_edit_profil') }}">gérer votre profil</a></li>
            <li><a href="{{ path('accueil_index') }}">aller à la page d’accueil</a></li>
            <li><a href="{{ path('produit_liste') }}">Voir les produits</a></li>
            <li><a href="{{ path('panier_index') }}">Voir mon panier</a></li>
        </ul>
            {% if is_granted('ROLE_ADMIN') %}
                <p>---</p> {# Séparateur pour plus de clarté #}
                <p>Vous êtes aussi administrateur, vous pouvez :</p>
                <ul>
                <li><a href="{{ path('admin_comptes') }}">gérer les clients</a></li>
                <li><a href="{{ path('produit_ajout') }}">Ajouter un produit</a></li>
                <li><a href="https://fr.wikipedia.org/wiki/Pong" target="_blank" rel="noopener noreferrer">lien vers un site extérieur</a></li>
            {% endif %}
        </ul>
    {% elseif is_granted('ROLE_SUPER_ADMIN') %}
        <ul>
            <li>Vous êtes super administrateur, vous pouvez :</li>
            <li><a href="{{ path('accueil_index') }}">aller à la page d’accueil</a></li>
            <li><a href="{{ path('form_edit_profil') }}">gérer votre profil</a></li>
            <li><a href="{{ path('logout') }}">vous déconnecter</a></li>
            <li><a href="{{ path('admin_gestion_admins') }}">Gérer les administrateurs</a></li>
        </ul>
    {% else %}
        <ul>
            <li>Vous êtes non authentifié, vous pouvez :</li>
            <li><a href="{{ path('accueil_index') }}">aller à la page d’accueil</a></li>
            <li><a href="{{ path('app_login') }}">vous connecter</a></li>
            <li><a href="{{ path('form_edit_client') }}">Créer un compte</a></li>
        </ul>
    {% endif %}


    {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_ADMIN') %}
        <p>
            🛒 Panier
            {% if articleCount > 0 %}
                ({{ articleCount }} article{% if articleCount > 1 %}s{% endif %})
            {% else %}
                (vide)
            {% endif %}
        </p>
    {% endif %}

</div>
