{% extends 'Layouts/layout_vente.html.twig' %}

{% block vue %}
    <h1>Ajouter un produit</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
