{% extends 'Layouts/layout_vente.html.twig' %}

{% block vue %}
    <h1>Liste des produits</h1>

    <table>
        <thead>
        <tr>
            <th>Libellé</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Pays</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.prix }} €</td>
                <td>{{ produit.stock }}</td>
                <td>
                    {% for pays in produit.pays %}
                        {{ pays.nom }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if app.user %}
                        {% if produit.stock > 0 %}
                            <a href="{{ path('panier_ajouter', {'id': produit.id}) }}">Ajouter au panier</a>
                        {% else %}
                            <em>Rupture de stock</em>
                        {% endif %}
                    {% else %}
                        <em>Connexion requise</em>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

